<!DOCTYPE html>
<html>
	<head>
		<title>Layla Rowen</title>
		<style>
			#header {
					color:black;
					text-align:center;
					padding:5px;
			}

			body {
				background-image: url("https://googledrive.com/host/0B1Gi1kQd533rQVdGYURKdnJqSHc");
			}


			#nav {
					line-height:30px;
					color:black;
					width:350px;
					float:left;
					padding:5px;
					font-family: Segoe UI;
			}

			#section {
					line-height:30px;
					color:black;
					text-align:center;
					width:50%;
					float:none;
					position: absolute; top: 50%; left: 25%; width: 50%;
					padding:10px;	 	 
			}

			#section2 {
					line-height:30px;
					color:black;
					width:350px;
					float:right;
					padding:5px;
					font-family:Segoe UI;
			}

			#pre-footer {
					background-color:black;
					color:white;
					clear:both;
					text-align:center;
					padding:5px;	 	 
			}

			#footer {
					color:black;
					clear:both;
					text-align:center;
					link-color:"black";
					padding:5px;
					font-family:Palatino Linotype;
			}

			/* popups */
			div.links a span {display: none;}

			div.links a:hover span {
					display: block;
					position: absolute; top: 25%; left: 25%; width: 50%;
					padding: 5px;
					margin: 10px; 
					z-index: 100;
					float:none;
					color: #003300;
					font: 16px Verdana, sans-serif;
					text-align: left;
			}


			/* unvisited link */
			a:link {color: #000000;}

			/* visited link */
			a:visited {color: #000000;}

			/* mouse over link */
			a:hover {color: #003300;}

			/* selected link */
			a:active {color: #4DB870;}




		</style>
	</head>
	
	<header>
		<div id="header">
			<span style="font-family: Lucida Console; font-size:40px">
				<p>Layla K. Rowen</p>
			</span>
			<span style="font-family: Lucida Console; font-size:20px">
				<p>Lifelong Learner ~ Caring Educator ~ Code Enthusiast ~ Community Organizer</p>
				<p>Learning: Git, Ruby, Rails, HTML/CSS, Heroku, SQL</p>

			</span>
		</div>
	</header>


	<body>


		<div id="section">
			<span style= "font-family: Calibri, Arial, Copperplate, sans-serif; font-size:40px">
				<p><a href="/resume">Resume</a></p>
				<p><a href="http://www.code4meow.wordpress.com">Blog</a></p>
				<br/>
				<p></p>
			</span>
		</div>
	</body>
</html>